@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: bold;
  src: url('assets/dist//fonts/Vazir-Medium-WOL.eot');
  src: url('assets/dist//fonts/Vazir-Medium-WOL.eot?#iefix') format('embedded-opentype'),
      /* IE6-8 */
      url('assets/dist//fonts/Vazir-Medium-WOL.woff2') format('woff2'),
      /* FF39+,Chrome36+, Opera24+*/
      url('assets/dist//fonts/Vazir-Medium-WOL.woff') format('woff'),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('assets/dist//fonts/Vazir-Medium-WOL.ttf') format('truetype');
}
*{
  font-family:Vazir ;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
